NODE-Red function.txt
[{"id":"c157d528.39f668","type":"mqtt out","z":"1e946aba.955ba5","name":"","topic":"node/power-controller:0/led-strip/-/effect/set","qos":"","retain":"","broker":"e649966c.8c2af8","x":1110,"y":280,"wires":[]},{"id":"2481aa7b.bfd636","type":"change","z":"1e946aba.955ba5","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"{\"type\":\"rainbow\", \"wait\":20}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"2","fromt":"num","to":"{\"type\":\"rainbow-cycle\",\"wait\":20}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"3","fromt":"num","to":"{\"type\":\"theater-chase-rainbow\",\"wait\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["c157d528.39f668"]]},{"id":"23c7f54b.8db41a","type":"mqtt in","z":"1e946aba.955ba5","name":"","topic":"node/push-button:0/orientation","qos":"2","broker":"e649966c.8c2af8","x":170,"y":280,"wires":[["f4d1445c.bdd468"]]},{"id":"badc9db.bd97f6","type":"mqtt in","z":"1e946aba.955ba5","name":"","topic":"node/push-button:0/push-button/-/event-count","qos":"2","broker":"e649966c.8c2af8","x":220,"y":360,"wires":[["8ef273ee.ca21b"]]},{"id":"8ef273ee.ca21b","type":"function","z":"1e946aba.955ba5","name":"brightness adjust","func":"var brightness = flow.get(\"brightness\") || 0;\nbrightness += 10;\nif(brightness > 100)\n{\n    brightness = 0;\n    flow.set(\"brightness\", 0);\n}\nmsg.payload = brightness;\nflow.set(\"brightness\", brightness);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["bc7edde3.31f57"]]},{"id":"bc7edde3.31f57","type":"mqtt out","z":"1e946aba.955ba5","name":"","topic":"node/power-controller:0/led-strip/-/brightness/set","qos":"","retain":"","broker":"e649966c.8c2af8","x":880,"y":360,"wires":[]},{"id":"8523e1d9.5392","type":"mqtt in","z":"1e946aba.955ba5","name":"","topic":"node/push-button:0/push-button/-/hold-count","qos":"2","broker":"e649966c.8c2af8","x":220,"y":440,"wires":[["b2f5396e.30f1a8"]]},{"id":"b2f5396e.30f1a8","type":"function","z":"1e946aba.955ba5","name":"Color swap","func":"var colors = [0x0000ff, 0xff0000, 0xffff00, 0x00ff00, 0xff1493, 0xffffff, 0xff4500, 0x800080, 0x8B4513];\nvar index = msg.payload % 10;\n\nvar color = colors[index].toString(16);\n\n\n\nvar zeros = \"\";\nif(color.length != 6)\n{\n    for(var i = 0; i < 6 - color.length; i++)\n    {\n        zeros += \"0\";\n    }\n}\n\ncolor = zeros + color;\nflow.set(\"color\", color);\n\nmsg.payload = \"\\\"#\";\n\nmsg.payload += color + \"(00)\";\n\nmsg.payload += \"\\\"\";\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":440,"wires":[["2c9c0923.d06a66"]]},{"id":"2c9c0923.d06a66","type":"mqtt out","z":"1e946aba.955ba5","name":"","topic":"node/power-controller:0/led-strip/-/color/set","qos":"","retain":"","broker":"e649966c.8c2af8","x":870,"y":440,"wires":[]},{"id":"f4d1445c.bdd468","type":"switch","z":"1e946aba.955ba5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"}],"checkall":"false","repair":false,"outputs":6,"x":370,"y":280,"wires":[["2481aa7b.bfd636"],["2481aa7b.bfd636"],["2481aa7b.bfd636"],["c85c4f03.b93af"],["c85c4f03.b93af"],["c85c4f03.b93af"]]},{"id":"98f86817.9a81d8","type":"json","z":"1e946aba.955ba5","name":"","property":"payload","action":"obj","pretty":false,"x":910,"y":180,"wires":[["c157d528.39f668"]]},{"id":"aa14f9a1.544638","type":"function","z":"1e946aba.955ba5","name":"color parse","func":"var color = flow.get(\"color\") || 0xff0000;\nmsg.payload += \"#\" + color + \"\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":180,"wires":[["98f86817.9a81d8"]]},{"id":"c85c4f03.b93af","type":"change","z":"1e946aba.955ba5","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"4","fromt":"num","to":"{\"type\":\"icicle\", \"wait\":80, \"color\":\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"5","fromt":"num","to":"{\"type\":\"pulse-color\", \"wait\":80, \"color\":\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"6","fromt":"num","to":"{\"type\":\"color-wipe\", \"wait\":50, \"color\":\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":180,"wires":[["aa14f9a1.544638"]]},{"id":"e649966c.8c2af8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]